body {
    font-size: 16px;
    font-family: $openSans;
    box-sizing: border-box;
    background-color: #f7f7f1;

    &.no-scroll {
        overflow: hidden;
    }
}

*{
    box-sizing: inherit;
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
}

// HELPERS

.container {
    max-width: 940px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

.svg-arrow-down {
    stroke: #000;
    fill: transparent;
    stroke-width: 2px;
}

// hidden svg-sprite block

.svg-vect-sprite {
    position: absolute;
    top: -999999px;
    left: -999999px;
}