body {
  font-size: 16px;
  font-family: $openSans;
  box-sizing: border-box;
  background-color: #fff;

  &.no-scroll {
    overflow: hidden;
    padding-right: 16px;

    @include _979 {
      padding-right: 0;
    }
  }
}

* {
  box-sizing: inherit;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.page {
  &__title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
    max-width: 780px;

    @include _768 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

// hidden svg-sprite block

.svg-vect-sprite {
  position: absolute;
  top: -999999px;
  left: -999999px;
}

svg use {
  pointer-events: none;
}

.detail-page {
  &.container {
    @include _480 {
      padding: 0;
    }
  }
  .breadcrumb {
    @include _768 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}