@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/Open_Sans/subset-OpenSans-Light.woff2') format('woff2'),
    url('../fonts/Open_Sans/subset-OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/Open_Sans/subset-OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/Open_Sans/subset-OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/Open_Sans/subset-OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/Open_Sans/subset-OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url('../fonts/Open_Sans/subset-OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/Open_Sans/subset-OpenSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/Open_Sans/subset-OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/Open_Sans/subset-OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}