.breadcrumb {
  color: #565b61;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 30px;
  background-color: transparent;
  padding: 0;

  @include _600 {
    color: #165cbe;
  }

  @include _600 {

    a,
    span {
      padding: 6px 10px;
      border: 1px solid #165cbe;
      border-radius: 3px;
      display: inline-block;
      margin-bottom: 10px;
    }

    a {
      margin-right: 26px;
    }
  }


  a {
    color: inherit;
    text-decoration: underline;

    @include _600 {
      text-decoration: none;
    }

    &::after {
      content: '/';
      color: #d7dee4;
      display: inline-block;
      margin: 0 10px;

      @include _600 {
        content: '';
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.06254 10.3947L5.99629 5.82911L0.931092 1.40936' stroke='%23005CC2' stroke-width='2'/%3e%3c/svg%3e ");
        background-size: cover;
        background-repeat: no-repeat;
        width: 9px;
        height: 13px;
        transform: translate(10px, 2px);
        position: absolute;
      }
    }
  }
}