.js-modal-overlay {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;

  &.is-show {
    visibility: visible;
    opacity: 1;
  }
}

.overlay-white {
  background-color: rgba(255, 255, 255, .6);
}

.modal {
  $modal: &;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50.1%, -50%);
  min-width: 360px;
  max-width: 600px;

  border: 3px solid #D7DEE4;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);

  background-color: #fff;
  transition: .3s all;
  zoom: 1.05;


  &[data-modal='buy-success'] {
    .modal-accept__subtitle {
      max-width: 350px;
    }
  }


  &.is-show {
    top: 50%;
    visibility: visible;
    opacity: 1;

    @include _768 {
      top: 0;
      left: 0;
    }
  }

  @include _768 {
    min-width: auto;
    width: 80%;
    width: 100%;
    left: 0;
    top: 0;
    transform: none;
    max-width: unset;
    max-height: 100%;
    overflow-y: auto;
    height: 100%;
    padding-top: 70px;
    border: none;
    left: -100%;
  }


  &__header {
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(215, 222, 228, .5);
    background-color: #fff;

    @include _768 {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      padding: 0;
      justify-content: flex-start;
      z-index: 20;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;

    @include _768 {
      order: 2;
      margin-left: 18px;
    }
  }

  &__body {
    padding: 26px;

    @include _768 {
      padding-bottom: 70px;
      padding-top: 0;
    }
  }

  &__footer {
    padding: 26px;
    border-top: 1px solid rgba(215, 222, 228, .5);

    p {
      margin: 0 0 10px;
    }
  }

  &__close {
    width: 14px;
    height: 14px;
    background-image: url('../images/icon-cross.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s all;
    cursor: pointer;

    &:hover {
      transform: rotate(90deg);
    }

    @include _768 {
      order: 1;
      height: 55px;
      width: 55px;
      background-size: 13px 20px;
      background-position: center;

      background-color: $blue;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 13 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18L3 10L11 2' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");

      &:hover {
        transform: none;
        background-color: lighten($blue, 5%);
      }
    }
  }
}


.modal-rest {
  font-size: 15px;

  tr {
    display: block;

    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }

  td {
    display: inline-block;

    &:first-child {
      width: 140px;
      margin-right: 20px;
    }

    &:last-child {
      font-size: 13px;
      color: #565b61;
    }

    &.rest-on {
      color: #009933;
    }
  }
}

.modal-form {
  max-width: 450px;

  textarea {
    height: 100px;
    resize: none;
  }

  &__grid,
  &__grid-2,
  &__grid-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    @include _768 {
      margin-bottom: 0;
    }
  }

  &__grid {
    textarea,
    input {
      width: 100%;
    }
  }

  &__grid-2 input {
    width: 49%;
  }

  &__grid-3 input {
    width: 32%;
  }

  &__grid,
  &__grid-2,
  &__grid-3 {
    input, textarea {
      @include _768 {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  &__field {
    padding: 10px 15px;
    border: 1px solid #d7dee4;
    background-color: #ffffff;
    outline: none;
    font-size: 14px;
    color: #000;

    &.error {
      border-color: crimson;
    }

    &::-webkit-input-placeholder {
      font-size: 14px;
      color: #000;
      font-weight: 400;
    }

    &::-moz-placeholder {
      font-size: 14px;
      color: #000;
      font-weight: 400;
    }

    &:-ms-input-placeholder {
      font-size: 14px;
      color: #000;
      font-weight: 400;
    }

    &:-moz-placeholder {
      font-size: 14px;
      color: #000;
      font-weight: 400;
    }

    @include _480 {
      width: 100%;
    }
  }

  &__btn {
    background-color: #ff8a02;
    margin: 0 auto;
    display: block;
    padding: 13px 17px;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      background-color: darken(#ff8a02, 3%);
    }

    @include _768 {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
}

.modal-descr {
  font-size: 14px;

  &__block {
    margin-bottom: 15px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
  }

  &__subtitle {
    margin: 2px 0 0;
  }
}

.modal-accept {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
  max-width: 500px;
  width: 100%;

  @include _768 {
    padding: 20px;
  }

  .modal__close {
    position: absolute;
    top: 30px;
    right: 30px;

    @include _768 {
      left: 0;
      top: 0;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    margin: 14px 0 0;
  }

  &__subtitle {
    color: #565b61;
    font-size: 15px;
    font-weight: 400;
    max-width: 265px;
    margin: 0 auto 0;

    a {
      color: #165CBE;
    }
  }
}


.modal-tip {
  padding: 40px 20px;

  .modal__close {
    position: absolute;
    top: 20px;
    right: 20px;

    @include _768 {
      left: 0;
      top: 0;
      right: auto;

    }
  }

  &__text {
    margin: 15px 0;
    max-width: 300px;
  }
}