title Site title
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='descr content')
meta(name='keywords', content='key,words')
link(rel='shortcut icon', href='/favicon.ico')
link(rel="stylesheet", href="./css/bootstrap-grid.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css")
link(href="css/main.css", rel="stylesheet")

//
  <meta property="og:title" content="title"/>
  <meta property="og:description" content="description"/>
  <meta property="og:image" content="image" />
  <meta property="og:type" content="type"/>
  <meta property="og:url" content= "url" />


include vars.pug
include mixins.pug
