-
    var additionProducts = [
        {img: 'addition-img-1.jpg', name: 'Доборные элементы', tip: 'Зачем это мне?'},
        {img: 'addition-img-2.jpg', name: 'Системы вентиляции', tip: 'Зачем это мне?'},
        {img: 'addition-img-3.jpg', name: 'Утеплители', tip: 'Что это такое?'},
        {img: 'addition-img-4.jpg', name: 'Софиты', tip: 'Зачем нужны софиты?'},
        {img: 'addition-img-5.jpg', name: 'Доборные элементы', tip: 'Что это такое и зачем?'},
        {img: 'addition-img-6.jpg', name: 'Системы вентиляции', tip: 'Зачем это мне?'},
        {img: 'addition-img-7.jpg', name: 'Утеплители', tip: 'Что это такое?'},
        {img: 'addition-img-8.jpg', name: 'Софиты', tip: 'Зачем это мне?'},
    ]